<!DOCTYPE html>
<html lang="en">
<head>
    <title>WorkoutTracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "styles.css">
</head>
    
<body>
    <%- include ('navbar.ejs') -%>

    <div class="main-div">
        Coming Soon!
        <div id="general">
            <div id="weightLifted"></div>
        </div>
    </div>

    <script>
            document.getElementById("analytics").style.backgroundColor = "#D3D3D3";

            const total = 0;
            for (var i = 0; i < workouts.length; i++) {
                total += workouts[i].weightLifted;
            }
            document.getElementById("weightLifted").innerHTML = "Total Weight Lifted: " + total;
    </script>
</body>
</html>

