<!DOCTYPE html>
<html lang="en">
<head>
    <title>WorkoutTracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "styles.css">
</head>

<body>
    <%- include('navbar.ejs') -%>

    <div class="main-div">
        <% if (user) { %>
            <h2> Welcome Back <%= user.fullname %> !</h1>
        <% } %>

        <button id="startWorkout">Start Workout</button>
        <button id="goals-btn">Set Goals</button>

        <div id="workout-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form action="/finishWorkout" method="POST">
                    <h2>EXERCISE TRACKER</h2>

                    <label class="modal-label">Workout Name:</label>
                    <input type="text" placeholder="Enter Workout Name" name="workoutName">
                    <!-- <label class="modal-label" id="timer">Time: 0s</label> -->
                    <div id="stopwatch"></div>
                    <input type="text" id="duration" class="hiddenInput" name="duration">
                    <!-- <button type="button" id="startTimer" class="stopwatch">Start / Stop Timer</button> -->
                    <!-- <label class="modal-label" id="total">Total Weight Lifted</label> -->

                    <div id="exercises">
                        <h3>Exercises</h3>
                    </div>
                    <input type="text" placeholder="Add new exercise" id="addExercise">
                    <button type="button" id="addExerciseBtn" class="add-button">+</button>


                    <button id="finish" type="submit" class="applyBtn">Finish</button>
                </form>
              </div>
        </div>

        <div id="goals-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form action="/updateGoals" method="POST">
                    <h2>UPDATE GOALS</h2>
                    <div id="goals-gen">
                        <h3>General</h3>
                        <div id="genGoal-weight">
                            <label class="modal-label" name="Weight">Weight</label>
                            <input type="text" placeholder="Current Weight" name="currentWeight">
                            <input type="text" placeholder="Desired Weight" name="desiredWeight">
                        </div>
                    </div>
                    <input type="text" placeholder="Enter general goal" id="addGGInput">
                    <button type="button" id="addGenGoalBtn" class="add-button">+</button>

                    <div id="goals-lift">
                        <h3>Lifts</h3>
                        <div id="liftGoal-BP">
                            <label>Bench Press</label>
                            <input type="text" placeholder="Current PR" name="currentBP">
                            <input type="text" placeholder="Desired PR" name="desiredBP">
                        </div>

                    </div>
                    <input type="text" placeholder="Enter lift goal" id="addLiftGoalInput">
                    <button type="button" id="addLiftGoalBtn" class="add-button">+</button>
                    <br>
                    <button id="clear" type="button" >Clear</button>
                    <button id="apply" type="submit" class="applyBtn">Apply</button>
                </form>
              </div>
        </div>
    </div>

    <script src="main.js">
    </script>
        
</body>
</html>

