<!DOCTYPE html>
<html lang="en">
<head>
    <title>WorkoutTracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "styles.css">
</head>

<body>
    <%- include('navbar.ejs') -%>

    <div class="main-div">

        <% var user; %>
        <p><% if (typeof user !== 'undefined') {user.username}%></p>

        <button>Start Workout</button>
        <button id="goals-btn">Set Goals</button>

        <div id="goals-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form action="/goals" method="POST">
                    <h2>UPDATE GOALS</h2>
                    <div id="goals-gen">
                        <h3>General</h3>
                        <div id="genGoal-weight">
                            <label class="modal-label">Weight</label>
                            <input type="text" placeholder="Current Weight" name="curWeight">
                            <input type="text" placeholder="Desired Weight" name="desWeight">
                        </div>
                    </div>
                    <input type="text" placeholder="Enter general goal" id="addGGInput">
                    <button type="button" id="addGenGoalBtn" class="add-button">+</button>

                    <div id="goals-lift">
                        <h3>Lifts</h3>
                        <div id="liftGoal-BP">
                            <label>Bench Press</label>
                            <input type="text" placeholder="Current PR" name="curBP">
                            <input type="text" placeholder="Desired PR" name="desBP">
                        </div>

                    </div>
                    <input type="text" placeholder="Enter lift goal" id="addLiftGoalInput">
                    <button type="button" id="addLiftGoalBtn" class="add-button">+</button>

                    <button id="apply" class="applyBtn">Apply</button>
                </form>
              </div>
        </div>

    </div>

    <!-- <script>
        document.getElementById("home").style.backgroundColor = "#92C4EE";
    </script>  -->
    <script src="/main.js"></script>
</body>
</html>

