<!DOCTYPE html>
<html lang="en">
<head>
    <title>WorkoutTracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "styles.css">
</head>
<body>
    <%- include ('navbar.ejs') -%>
    <div class="main-div">
        <% if(success_msg != '') { %>
            <p><%=success_msg %> </p>
        <% } %>

        <% if(error_msg != '') { %>
            <%= error_msg %> 
        <% } %> 
        <% if(error != '') { %>
            <%= error %>
        <% } %>

        <form action="/user/login" method="POST">
            <input type="text" placeholder="Username" name="username">
            <input type="text" placeholder="Password" name="password">
            <button id="submit">Login</button>
        </form>
        <p >Have you created an account? <a href="/user/signup">Sign Up</a></p>

    </div>

    <script>
    </script>
</body>
</html>