<h1 class="main-header">Workout Tracker</h1>
    <nav>
        <ul>
            <li id="home"><a href="/home">Home</a></li>
            <li id="workout"><a href="/workouts">Workouts</a></li>
            <li id="analytic"><a href="/analytics">Analytics</a></li>
            <li id="user"><a href="/user">Login / Sign Up</a></li>
        </ul>
    </nav>