<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "styles.css">
</head>

<body>

        <h4>Welcome to Wacker: A Workout Tracker application</h4>
        <div style="margin-top: 50px;"></div>
        <p>Here, you can keep a record of your workouts and exercises along with your goals to get in shape.</p>
        <p>Create an account or log in to utilize the resources!</p>

        <div class="slideshow-container">

            <div class="slideshow-image fade">
                <img src="../images/weights.jpg" style="width:100%">
                <div class="slideshow-caption">Image 1</div>
    
            </div>
    
            <div class="slideshow-image fade">
                <div class="slideshow-caption">Image 2</div>
    
            </div>
    
            <a class="prev" onClick="moveSlides(-1)">&#10094;</a>
            <a class="prev" onClick="moveSlides(1)">&#10095;</a>
    
        </div>
        <br>
        <div style="text-align:center">
            <span class="slideshow-dot" onclick="currentSlide(1)"></span>
            <span class="slideshow-dot" onclick="currentSlide(2)"></span>
            <span class="slideshow-dot" onclick="currentSlide(3)"></span>
          </div>


    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function moveSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName('slideshow-image');
            var dots = document.getElementsByClassName('slideshow-dot');
            if (n > slides.length) {
                slideIndex = 1;
            }
            if (n < 1) {
                slideIndex = slides.length;
            }
            for (i=0; i<slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i=0; i<dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

    </script>
</body>
</html>