<!DOCTYPE html>
<html lang="en">
<head>
    <title>WorkoutTracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "styles.css">
</head>

<body>
    <%- include ('navbar.ejs') -%>

    <div class="main-div">
        
        Look at past workouts
        Update Routines
        Update Custom Exercises
    </div>

    <script>
            document.getElementById("workouts").style.backgroundColor = "#92C4EE";
    </script>
</body>
</html>
