<form action="/exercises" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="weight" name="weight">
    <button type="submit">Submit</button>
</form>

<h2>Exercises</h2>
<ul class="exercises">
    <% for(var i = 0; i < exercises.length; i++) {%>
        <li class = "exercise">
            <span><%= exercises[i].name %></span>:
            <span><%= exercises[i].weight %></span>
        </li>
    <% } %>
</ul>

<div>
    <h2>Increase your weight!</h2>
    <p>Increase the weight of your exercises by 10 pounds</p>
    <button id="increase-weight">Increase Weight</button>
</div>

<div>
    <h2>Remove an Exercise!</h2>
    <p>
        Delete one of the Barbell Exercises. Does nothing if there are no more
    </p>
    <button id="delete-exercise">Delete Barbell Exercise</button>
</div>

<div id="message"></div>