:root {
    --redColor: #ff0026;
    --color2: rgb(224, 206, 104);
}

/* GENERAL STYLING  */

body {
    margin: 0;
    font-family: proxima-nova,arial,helvetica;
    overflow-y: auto;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
}

h2 {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
}

h3 {
    font-size: 30px;
    color: #0c0c0c;
    padding: 0 0 10px 0;
}

h4 {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
    color: white;
    margin-top:100px;
}

.main-div {
    top: 70px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(to bottom right, #283048, #859398);
    padding: 20px;
    /* background: linear-gradient(to bottom right, #696969, #000000); */
    /* background: linear-gradient(to bottom right, #004e92, #000428); */
    /*
    Titanium: #283048, #859398
#c2e59c, #64b3f4
#83a4d4, #b6fbff
    #1e3c72, #2a5298
     DONT DELETE #70e1f5, ffd194
    */

} 

.hiddenInput {
    display: none;
}

/* NAV STYLES */

.nav-menu {
    display: flex;
    padding: 0, 15px;
    width: 100%;
    background-color: #fff;
    color: #0c0c0c;
    top: 0;
    height: 70px;
    z-index: 100;
}

.main-header {
    font-size: 40px;
    font-weight: 100;
    margin: 0;
    text-align: center;
    top: 12px;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    position: fixed;
    width: 10%;
}
  
.nav-left {
    float: left;
    width: 42%;
}

.nav-right {
    margin-left: auto; 
    margin-right: 0;
    width: 42%;
}
  
nav ul li {
    list-style: none;
    margin: 0;
    color: ff0026;
    width: 50%;
    height: 70px;
    line-height: 70px;
    align-items: stretch;
    text-align: center;
    float: left;
    position: static;
}

li::after {
    content: "";
    width: 20px;
    height: .5px;
    background-color: var(--redColor);
    position: absolute;
    top: 70px;
    margin: 0 auto;
    transform: scale(0);
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

li:hover::after {
    transform: scale(10);
  }
  
nav a {
    color: #0c0c0c;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}
  
/* nav ul li:hover {
    background-color: #D3D3D3;
    color: black;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
} */


/* THE MODAL (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-label {
    color: black;
    width: 200px;
}

.applyBtn {
    position: relative;
}
  

/* COLLAPSIBLE */

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 5px;
    margin-bottom: 0;
    border-radius: 30px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.collapsible-content {
    color: black;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    text-align: left;
    width: 100%;
    border-radius: 30px;
    margin-left: 5px;
}

.modal-input {
    margin: 2px;
    padding: 4px;
}

.modal-input:focus {
    outline-color: #ff0026;
}

.action-btn {
    /* font-size: 13px;
    display: inline-block; */
    /* margin: 0 auto;
    padding: 13px 35px; */
    border-radius: 6px;
    letter-spacing: 2px;
    text-align: center;
    /*
    text-decoration: none;
    text-transform: uppercase;
    line-height: 21px; */
    background-color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ff0026;
    color: #ff0026;
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    /* position: relative;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */

    margin: 2px;
    padding: 4px;
}

.action-btn:hover {
    background-color: #ff0026;
    color: white;
}

/* WORKOUT PAGE STYLES */

.exercises {
    width: 50%;
    text-align: center;
    margin-left: auto; 
    margin-right: 0;
}

.workout-div {
    float: left;
    width: 50%;
    text-align: center;
}

/* .exercise-btn {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 10px;
} */

.exercise-btn:hover {
    background-color: rgb(199, 199, 199);
}

/* .split {
    display: block;
    width: 50%;
    height: 100%;
    background-color: navy;
    float: left;
}
*/

.styledBtn {
    font-size: 13px;
    display: inline-block;
    margin: 0 auto;
    padding: 13px 35px;
    border-radius: 100px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 21px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ff0026;
    color: #ff0026;
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    position: relative;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.exercise-btn {
    /* width: 150px;
    height: 150px; */
    font-size: 13px;
    display: inline-block;
    margin: 6px;
    padding: 13px 35px;
    border-radius: 100px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 21px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ff0026;
    color: #ff0026;
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    position: relative;
    top: 20%;
    /* left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

.styledBtn:hover {
    background-color: #ff0026;
    color: white;
}

.exercise-btn:hover {
    background-color: #ff0026;
    color: white;
}

.home-divider {
    width: 50%;
    float: left;
    height: 100%;
}


/* LOGIN STYLES  */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	font-weight: 300;
}

.login-body{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 300;
}

/* .wrapper{
	background: #50a3a2;
    background: linear-gradient(to bottom right, #a1c4fd, #c2e9fb);
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
} */

/* &.form-success{
    .container{
        h1{
            transform: translateY(85px);
        }
    }
} */

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 80px 0;
	height: 400px;
    text-align: center;
}

.login-form {
	padding: 5px 0 10px;
	position: relative;
    z-index: 2;
}

.logout-form {
	padding: 20px 0;
	position: absolute;
    z-index: 2;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}
    
.login-form-input {
    display: block;
    appearance: none;
    outline: 0;
    border: 1px solid fade(white, 40%);
    background-color: fade(white, 20%);
    width: 250px;
    
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    
    color: #0c0c0c;
    
    transition-duration: 0.25s;
    font-weight: 300;
}

.login-form-input:hover {
    background-color: fade(white, 40%);
}

.login-form-input:focus {
    background-color: white;
    width: 300px;
    color: #0c0c0c;
}
	
.login-btn{
    /* font-size: 13px;
    display: inline-block;
    margin: 0 auto;
    padding: 13px 35px;
    border-radius: 100px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 21px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ff0026;
    color: #ff0026;
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    position: relative;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */

    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #0c0c0c;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

.login-btn:hover {
    background-color: rgb(245, 247, 249);
}

.bg-bubbles{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/* .bg-bubbles-li {
	li{
		position: absolute;
		list-style: none;
		display: block;
		width: 40px;
		height: 40px;
		background-color: fade(white, 15%);
		bottom: -160px;
		
		-webkit-animation: square 25s infinite;
		animation:         square 25s infinite;
		
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
		
		&:nth-child(1){
			left: 10%;
		}
		
		&:nth-child(2){
			left: 20%;
			
			width: 80px;
			height: 80px;
			
			animation-delay: 2s;
			animation-duration: 17s;
		}
		
		&:nth-child(3){
			left: 25%;
			animation-delay: 4s;
		}
		
		&:nth-child(4){
			left: 40%;
			width: 60px;
			height: 60px;
			
			animation-duration: 22s;
			
			background-color: fade(white, 25%);
		}
		
		&:nth-child(5){
			left: 70%;
		}
		
		&:nth-child(6){
			left: 80%;
			width: 120px;
			height: 120px;
			
			animation-delay: 3s;
			background-color: fade(white, 20%);
		}
		
		&:nth-child(7){
			left: 32%;
			width: 160px;
			height: 160px;
			
			animation-delay: 7s;
		}
		
		&:nth-child(8){
			left: 55%;
			width: 20px;
			height: 20px;
			
			animation-delay: 15s;
			animation-duration: 40s;
		}
		
		&:nth-child(9){
			left: 25%;
			width: 10px;
			height: 10px;
			
			animation-delay: 2s;
			animation-duration: 40s;
			background-color: fade(white, 30%);
		}
		
		&:nth-child(10){
			left: 90%;
			width: 160px;
			height: 160px;
			
			animation-delay: 11s;
		}
	}
} */

<<<<<<< HEAD
.goal-collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .goal-collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .goal-collapsiblecontent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 70%;
  }


  .progress-collapsible {
    background-color: transparent;
    color: white;
    cursor: pointer;
    width: 60%;
    text-align: left;
    font-size: 15px;
    border: 1px solid;
    outline: none;
    margin-top: 15px;
  }

  .progress-collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .progress-collapsiblecontent {

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: grey;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .progress-gengoals {
      flex-direction:column;
      justify-content: center;
  }

  .inner-meter {
      background-color:red;
      height: 20px;
  }

=======
>>>>>>> 85fe69ddb3d93b26e71da0b49d9bd3ba866934a3
@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}

.signup {
    color: #ff0026;
    font-size: larger;
    font-weight: 100;

}

/* OTHER */

.stopwatch {
    color: black;
}